*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    height: 50px;
    border-style: solid;
}

header{
    height: 50px;
}

aside{
    border-style: solid;
    height: calc( 100vh - 150px);
    width: 100px;
    display: inline-block;
    float: left;
}

main{
    border-style: solid;
    height: calc( 100vh - 150px);
    width: calc(100% - 100px);
    display: inline-block;
    float: right;
    overflow: auto;
}

footer{
    height: 50px;
    clear: both;
}